body {
	background-color: #3d71cc;
}

.jumbotron {
	background-image: url('./images/capital.jpg');
	   /* Center and scale the image nicely */
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    overflow: hidden;
       /*---------------------------------*/
    margin-bottom: 0;
 	text-align: center;
}

.jumbotron h1 {
	font-size: 150px;
	font-family: 'Fredericka the Great', cursive;
	color: white;
/*	font-weight: bold;*/
}

@media screen and (max-width: 550px) {
    .jumbotron h1 {
        font-size: 75px;
    }
}

.animal {
	margin: 5px;
}

.item {
	height: 200px;
	margin: 20px;
	float: left;
}

img {
	height: 175px;
	width: 175px;
}

.btn {
	background-color: #3d71cc;
	border: 0;
	color: white;
}

.panel {
	margin: 20px;
}

#addAnimal {
	background-color: #3d71cc;
	color: white;
}

